* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #f7f7f9;
}

/* #container{
  width: 94%;
} */

p {
  color: #344563;
  font-size: 15px;
}

.nav__menu li {
  list-style: none;
  margin-top: 50px;
  margin-left: 15px;
  z-index: 1;
}

.lang p {
  padding-left: 12px;
}

#header-desktop {
  display: none;
}

#wrapper {
  height: 60vh;
  width: 100%;
  background-color: rgba(255, 255, 2255, 0.9);
  border-bottom-left-radius: 100px;
  position: relative;
}

#wrapper::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(/assets/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 65px;
}

/* Header Section */
#header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: #6070ff;
  width: 80%;
  background: rgba(255, 255, 2255, 0.7);
  z-index: 1;
  position: relative;
  text-align: center;
}

.contact-headings > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 30px;
}

/* Headline Section */
#headline {
  margin-top: 2rem;
  padding-left: 1rem;
}

#headline h1 {
  font-size: 24px;
  max-width: 10rem;
  color: #333231;
  z-index: 1;
  position: relative;
}

#headline p {
  width: 90%;
  position: relative;
  z-index: 1;
}

#headline h4 {
  margin-top: 8px;
  color: #6070ff;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.headline-icons {
  display: flex;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.headline-icons li {
  list-style: none;
  margin-right: 10px;
}

/* Works */
#cards {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.card {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(226, 221, 221);
  height: 90%;
  width: 100%;
  color: #344563;
  margin-bottom: 10vh;
  background-color: white;
}

.container h2 {
  width: 50%;
}

.container #headline p {
  width: 95%;
}

.card-list-two {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  width: 20vh;
}

.card-list-two li {
  display: flex;
  list-style: none;
  color: #6070ff;
  background: #ebebff;
  text-align: center;
  border-radius: 8px;
  padding: 4px 10px;
  margin-right: 2px;
}

.card-list-one {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 30vh;
  font-size: 15px;
  transition: font-size 3s background-color 3s;
}

.content li {
  list-style: none;
  background: #f8f8fb;
  padding: 2px 4px;
}

.card-list-one li:first-child {
  color: #252524;
}

.languages li {
  list-style: none;
}

.lang-img {
  border-radius: 50%;
  margin: 10px;
}

.lang {
  background: #f0f0f1;
  display: flex;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding: 12px 0;
  border-radius: 8px;
}

.card-button {
  margin-top: 3rem;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 8rem;
  text-align: center;
}

.card-button:hover {
  background: #396df2;
  color: #ebebff;
}

/* About-Yourself Section */
#about-section {
  margin-top: 10px;
  height: 120vh;
  background: white;
  border-top-right-radius: 70px;
  width: 100%;
  padding: 30px;
}

#about-section h1 {
  font-size: 24px;
  max-width: 8rem;
  color: #333231;
}

#about-section h4 {
  margin-top: 8px;
  color: #6070ff;
  font-weight: 500;
}

.about-button {
  margin-top: 3rem;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 10rem;
  text-align: center;
  background: transparent;
}

caption {
  margin-right: 36px;
}

.lang-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: bold;
}

.lang-frameworks .lang-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 40px;
  border-bottom: 1px solid rgb(225, 223, 223);
  font-weight: bold;
}

.lang-frameworks caption {
  align-self: center;
}

ul.skills {
  display: flex;
  gap: 24px;
  height: 24px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-bottom: 45px;
}

.listfram .listtag .icon {
  background-color: white;
  border: none;
  border-radius: 2px;
  width: 400px;
}

.listtag {
  margin-left: -50px;
}

/* Contact section styles */
.contact-info {
  background-color: #6070ff;
  background-image: url(./images/contactformshapesmobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0 top 5px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 150px;
}

.contact-headings {
  text-align: center;
  margin-top: 100px;
}

.contact-headings > h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ffff;
  margin-bottom: 10px;
}

input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  color: #172b4d;
}

.contact-info button {
  margin-left: 100px;
  width: 100px;
  border-radius: 5px;
  height: 50px;
  background-color: white;
  border: #6070ff;
}

form {
  width: 100%;
  padding: 18px 5px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  font-weight: 400;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
  padding: 13px;
  font-size: 15px;
  line-height: 24px;
  resize: none;
  height: 15rem;
}

.nav__container button {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  color: #6070ff;
  border: none;
  background-color: white;
}

form button:hover {
  background-color: #6070ff;
  color: #fff;
}

form button:active {
  background: #2230d2;
  color: #fff;
  box-shadow: none;
  transform: rotate(45deg);
}

.click:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
  transform: scale(1.05);
}

.click:active {
  color: white;
  background: #2230d2;
  box-shadow: none;
}

#cards-desktop {
  display: none;
}

.lang-lang-desktop {
  display: none;
}

#close-menu-btn {
  display: none;
}

#mobile-nav {
  margin-bottom: -32px;
  color: #6070ff;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: white;
  position: relative;
}

.nav__menu {
  margin-top: -1rem;
  right: 3%;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  left: 0;
  width: 100%;
  height: 80%;
  background: rgba(26, 84, 231, 0.8);
  display: none;
  overflow: auto;
}

.nav__menu li a {
  width: 100%;
  display: grid;
  z-index: 1;
  text-decoration: none;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 40px;
}

/* Popup */
.popup {
  width: 80vh;
}

.menu {
  display: none;
}

.active {
  display: block;
}

.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0);
  z-index: 1;
  display: none;
  overflow: auto;
}

.content ul {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.popup .content {
  position: absolute;
  margin: 60% auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 80%;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #6070ff;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 100ms ease-in;
  transform: translate(-50%, -50%) scale(1);
}

/* Desktop */
@media screen and (min-width: 600px) {
  #container {
    width: 100%;
  }

  #wrapper {
    width: 80%;
    height: 300vh;
    border-bottom-left-radius: 100px;
    position: relative;
    background-image: url(/assets/wrapper-background/Header\ bg.svg);
    background-repeat: no-repeat;
  }

  #wrapper::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* .logo{
      animation: 5s infinite alternate anima;
    } */
  .nav {
    margin-left: 100px;
    height: 20vh;
  }

  #mobile-nav {
    display: none;
  }

  .content p {
    margin-top: 10px;
  }

  #headline {
    margin: 100px;
    height: 100vh;
    margin-left: 150px;
  }

  .content h1 {
    color: #6070ff;
    font-size: 17px;
  }

  .card-list-one li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 30vh;
    font-size: 15px;
  }

  .content li {
    list-style: none;
    background: #f8f8fb;
    padding: 2px 4px;
  }

  .card-list-one li:first-child {
    color: #252524;
  }

  #headline h1 {
    font-size: 32px;
    max-width: 50rem;
    color: #333231;
  }

  #headline p {
    width: 65%;
    margin-top: 12px;
  }

  #headline h4 {
    width: 65%;
    margin-top: 16px;
  }

  #header {
    display: none;
  }

  #header-desktop {
    display: flex;
    padding-top: 30px;
  }

  #header-desktop ul {
    display: flex;
  }

  #header-desktop ul li {
    list-style: none;
    margin-right: 15px;
  }

  #header-desktop ul li a {
    color: #6070ff;
    text-decoration: none;
  }

  /* work section */
  #cards {
    display: none;
  }

  #cards-desktop {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 300px;
    padding-left: 200px;
  }

  .card {
    display: flex;
    gap: 10%;
    background: white;
    padding-left: 30px;
    width: 80%;
  }

  .card:hover {
    border: 1px solid #6070ff;
  }

  .container {
    margin-top: 60px;
  }

  /* About Myself */
  #about-section {
    height: 120vh;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10%;
    padding: 100px;
    width: 90%;
    padding-left: 200px;
  }

  .lang-lang {
    display: none;
  }

  .lang-lang-desktop {
    display: flex;
    gap: 10px;
    width: 50%;
  }

  .lang {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info button {
    margin-left: 350px;
    width: 100px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    border: #6070ff;
  }

  .popup .content {
    position: absolute;
    margin: 60% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }

  @keyframes anima {
    from {
      margin-left: 100%;
      width: 300%;
      color: #6070ff;
    }

    to {
      margin-left: 0%;
      width: 100%;
      font-weight: bold;
    }
  }
}
