@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.main_section {
  background-color: #fff;
  max-width: 375px;
  height: 100vh;
  border: none;
  margin-left: 20px;
}

.headline {
  background: url('images/header-shapes\ mobile.svg') no-repeat center center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 9%;
  margin-left: -20px;
  color: #6070ff;
}

.left-logo,
a {
  color: blue;
}

.nav-bar a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  margin-left: -20px;
}

.headline_text {
  margin-top: 58px;
  font-size: 50px;
  font-weight: bolder;
  color: #172b4d;
  text-align: justify;
  line-height: normal;
}

.contacts img {
  margin-top: -8px;
}

.contacts {
  margin-left: -20px;
}

h5 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  margin-top: -6px;
}

p {
  margin-top: -32px;
  color: #344563;
}

.social-icons {
  width: 20px;
  margin-right: 15px;
  justify-content: space-between;
}

.wrapper1 {
  display: grid;
  width: 375px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 596px) 114px;
  row-gap: 114px;
}

.card1 {
  display: flex;
  flex-direction: column;
  height: 572px;
  margin-top: 50px;
  margin-left: 0%;
  margin-right: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot {
  margin-left: 10px;
  margin-top: 16px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 295px;
  height: 259px;
  margin-top: 10px;
}

.block1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 295px;
  height: 259px;
  margin-top: 10px;
}

.tonic_text {
  width: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 41px;
  margin-left: 0;
}

.tonic2_text {
  width: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 41px;
  margin-left: 0;
  margin-top: -20px;
}

.subfram {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 236px;
  height: 32px;
  top: 48px;
  margin-bottom: 12px;
}

.sub1 {
  margin-bottom: 3px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: 0;
}

.circle {
  width: 8px;
  height: 8px;
  left: 67px;

  /* top: 12px; */
  background: #c1c7d0;
  border-radius: 50%;
  margin-top: -30px;
}

.normal {
  width: 295px;
  height: 76px;
  margin-top: -50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
  margin-left: 10px;
}

.normal1 {
  width: 295px;
  height: 76px;
  margin-top: -200px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
  margin-left: 10px;
}

.techs {
  display: flex;
  list-style: none;
  margin: 0.1px;
  padding: 0.1px;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
  width: 203px;
  height: 24px;
  top: 180px;
  margin-bottom: 12px;
}

.techs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 24px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  margin-left: 10px;
}

.action {
  display: flex;
  width: 295px;
  height: 72px;
  top: 216px;
  margin-top: 16px;
  margin-bottom: 28px;
  margin-left: 10px;
}

.button {
  width: 160px;
  height: 48px;
  margin-top: 10px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.sub2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 6px;
  margin-left: 10px;
}

.multipost_text {
  width: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 41px;
  margin-left: 0;
  margin-top: -35px;
}

.card2 {
  display: flex;
  flex-direction: column;
  height: 572px;
  margin-left: 0;
  margin-right: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.wrapper2 {
  display: grid;
  width: 375px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 596px) 114px;
  row-gap: 114px;
  margin-top: 10px;
}

.wrapper3 {
  display: grid;
  width: 375px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 596px) 114px;
  row-gap: 114px;
}

.wrapper4 {
  display: grid;
  width: 375px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 596px) 114px;
  row-gap: 114px;
}

.card3 {
  display: flex;
  flex-direction: column;
  height: 572px;
  margin-left: 0;
  margin-right: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.card4 {
  display: flex;
  flex-direction: column;
  height: 572px;
  margin-left: 0;
  margin-right: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.skillul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 327px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: -50px;
}

li .techs {
  float: right;
}

.skill ul {
  list-style-type: none;
}

a .nav-bar {
  text-decoration: none;
}

.skillli {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  display: flex;
  justify-self: start;
  flex-direction: row;
  list-style: none;
  width: 303px;
  max-width: 303px;
  min-height: 66.72px;
  margin: 12px;
  text-align: center;
  background: #f7f7f9;
  border-radius: 8px;
}

.wrapperabout p {
  margin-top: 20px;
}

.top h1 {
  margin-top: 50px;
  margin-left: 1px;
}

.social2 {
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 80px;
  margin-left: -17px;
  margin-bottom: 10px;
}

.vectorfram {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20px;
  height: 40px;
  margin-top: 10px;
}

.vectorfram .vector-button img {
  margin-left: 1px;
  margin-top: -30px;
}

h3 {
  order: 1;
  width: fit-content;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  margin-left: 20px;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  transform: translateY(4px);
}

.skill p ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 327px;
  height: 590px;
  margin-left: 10px;
  margin-top: 114px;
  padding-top: 48px;
}

.listfram {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 327px;
  min-height: 71px;
  margin-top: -30px;
}

.listtag .listname {
  display: flex;
  flex-direction: row;
  width: 327px;
  min-height: 72px;
  border-bottom: 50px;
  margin-top: 50px;
  margin-left: 10px;
}

.listname .listtag {
  width: 273px;
  height: 24px;
  margin-right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 30px;
  margin-top: -30px;
}

.icon {
  display: inline-block;
  margin-right: 33px;
  border: none;
  background-color: #fff;
}

.listimg {
  margin-left: 12px;
  margin-top: 9px;
}

.listtxt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin-left: 16px;
  margin-top: 21px;
}

.vector-button {
  border: none;
  background: none;
}

.vector-button :hover {
  transform: scale(1.3);
}

.vector-button:active {
  transform: translateY(4px);
}

/* Contact section styles */
.contact-info {
  background-color: #6070ff;
  background-image: url(./images/contactformshapesmobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0 top 5px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 95%;
  margin-right: -10px;
}

.contact-headings {
  text-align: center;
  margin-top: 100px;
}

.contact-headings > h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 40px;
}

.contact-headings > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 30px;
}

input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  color: #172b4d;
  margin-left: -15px;
}

input#name #email {
  background-color: white;
}

form {
  width: 100%;
  padding: 18px 5px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  font-weight: 400;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
  padding: 13px;
  font-size: 15px;
  line-height: 24px;
  resize: none;
  height: 15rem;
  margin-left: -15px;
}

form button:hover {
  background-color: #6070ff;
  color: #ffff;
}

form button:active {
  background: #2230d2;
  color: #ffff;
  box-shadow: none;
}

button.form-submit {
  width: 150px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  background: white;
  border-radius: 8px;
  border-color: #6070ff;
  margin-left: -15px;
}

.click:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

.click:active {
  color: white;
  background: #2230d2;
  box-shadow: none;
}
