@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.main {
  background: url("./images/header-shapes\ mobile.svg") no-repeat center center;
  height: 410px;
  width: 100%;
  padding: 10px;
  justify-content: center;
  margin-left: 30px;
}

.logo-left {
  display: flex;
  align-items: center;
  font: bolder;
  font-size: larger;
  color: blue;
}

.left .menu {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -200px;
  margin-bottom: 150px;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: blue;
}

h3 {
  padding-top: 10px;
  font-weight: bold;
}

.headline {
  width: 350px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.contacts {
  padding-top: 15px;
}

p {
  font-size: 30px;
}
